p.order_detail {
    display: inline;
}

td{
    width: 180px;
}

hr {
    border-width: 2px;
}

.orders_list_header {
    padding: 0px;
}

h4 {
    display: inline;
}

#details_link {
    display: inline;
    text-decoration: underline;
}

.title {
    margin: 55px 0px 0px 0px;
}

ul li {
    border: 2px solid gainsboro;
    border-radius: 5px;
    margin: 12px 0px;
    padding: 12px;
}

.orders_list_header {
    margin: 12px 0px;
    padding: 0px 12px 0px 12px;
}

ul {
    list-style: none;
    padding-left: 0;
}
